.features24-container {
  height: 501px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.features24-text1 {
  display: inline-block;
}
.features24-text2 {
  display: inline-block;
}
.features24-text3 {
  display: inline-block;
}
.features24-text4 {
  display: inline-block;
}
.features24-text5 {
  display: inline-block;
}
.features24-text6 {
  display: inline-block;
}
